/*Fonts*/


/*General*/

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    display: block;
    justify-content: center;
}

span {
    font-size: 1.5rem;
}

strong {
    font-weight: 800;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.2;
}

h4 {
    font-size: 1rem;
    line-height: 1.2;
}

h5 {
    color: lightskyblue;
    font-size: 1.1rem;
}

/*Containers*/

.container {
    /*display: flex;*/
    /*padding: 2rem 0;*/
    max-width: 1177.5px;
    /*width: 100%;*/
    margin: auto;
    z-index: 10;
    /*justify-content: center;*/
}

.bigContainer {
    display: flex;
    width: 60%;
    height: auto;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 2rem 0;
}

.bigContainer img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.mediumContainer {
    display: flex;
    margin: 0;
    max-width: 26.4375rem;
    flex-direction: column;
}

.smallContainer:first-child {
    display: flex;
    max-width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    border-left: .5px solid rgba(201, 201, 201, 0.85);
    border-bottom: .5px solid rgba(201, 201, 201, 0.85);
}

.smallContainer {
    display: flex;
    max-width: 100%;
    padding: 1rem;
    border-left: .5px solid rgba(201, 201, 201, 0.85);
    border-bottom: .5px solid rgba(201, 201, 201, 0.85);
    /*margin-left: 1rem;*/
    /*height: 33.3%;*/
}

.mainPage {
    position: relative;
    /*top: 2.5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.captionContainer {
    padding-top: 1.5rem;
    text-align: left;
    width: 100%;
}

/*General Colors*/

.dark {    
    color: rgba(40, 40, 40, 0.95);
}

.medium {
    color: rgba(142, 142, 142, 0.93);
}

.light {
    color: rgba(201, 201, 201, 0.85);
}

.lightBackground {
    background-color: rgba(201, 201, 201, 0.85);
}

.lighterBackground {
    background-color: rgba(232, 232, 232, 0.80);
}

.mediumBackground {
    background-color: rgba(142, 142, 142, 0.93);
}

/*Top Nav Bar*/

#navWrap {
    z-index: 50;
    display: flex;
    justify-content: center;
    height: 4rem;
    /*padding: 0 1.5rem;*/
    background-color: white;
}

.navBar.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1129.5px;
}

.navList li {
    display: inline;
    padding-right: 1rem;
}

.navList li a {
    text-decoration: none;
    font-size: 1.15rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2.5rem;
}

.navBarMobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .navBar.container {
        display: none;
    }
    
    #navWrap .navBarMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navListMobile {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .navBarMobile ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

/*Start Banner*/

.startBanner {
    display: flex;
    background-color: rgba(201, 201, 201, 0.85);
    top: 64px;
}

.bannerBox {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
}

.bannerBox h1,
.bannerBox h3 {
    padding: 1.5rem 0;
    width: 85%;
}

.startBox {
    padding: .5rem;
    background-color: rgba(79, 79, 79, 0.95);
    text-align: center;
    width: 85%;
    margin-top: 1.5rem;
}

.blankMobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .startBanner .bigContainer {
        display: none;
    }

    .startBanner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bannerBox {
        width: 90%;
        margin: 2rem 1rem;
        padding: 0;
    }

    .bannerBox h1,
    .bannerBox h3,
    .startBox {
        width: 100%;
    }

    .startBox {
        margin-right: 1rem;
    }

    .blankMobile {
        display: block;
        width: 100%;
        height: 11.25rem;
        background-image: url("../images/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

}

/*Academy Information*/

.academyInfo {
    display: flex;
    flex-direction: row;
}

.practice {
    display: flex;
    flex-direction: column;
}

.orient.smallContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.campus.smallContainer,
.guest.smallContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orient img,
.campus img,
.guest img {
    width: 35%;
    height: auto;
}

.info {
    margin-left: 1.5rem;
}

.textContainer {
    max-width: 100%;
}
.textContainer h1 {
    padding-top: 1rem;
    width: 100%;
}

.textContainer h3 {
    padding: 1.5rem 0;
    font-family: "Play";
    text-align: left;
}

.info h3,
.info h4,
.info h5 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}   

.mediumContainerMobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .academyInfo .bigContainer {
        display: none;
    }

    .academyInfo {
        width: 100%;
    }

    .mediumContainer {
        display: none;
    }

    .mediumContainerMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 1rem;
    }

    .smallContainerMobile {
        display: flex;
        flex-direction: column;
        width: 94%;
        align-items: center;
        margin: 1rem;
    }

    .smallContainerMobile img {
        width: 100%;
        /*margin: 1rem;*/
    }

    .info {
        width: 100%;
    }

    .orientDate {
        padding-top: 1rem;
    }
    
    .orientDate h5 {
        padding-bottom: 0;
    }

}

/*Start Learning Section*/

.startLearning {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.title h1 {
    padding: 2rem 0;
}

.miniContainerWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.miniContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem;
    height: 17rem;
}

.miniContainer p {
    padding: 0 1rem;
    color: rgba(142, 142, 142, 0.93);
    width: 15rem;

}

.miniImgContainer {
    height: 13.75rem;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 50%;
}
}

.miniTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 6.875rem;
    width: 100%;
}

.miniTextContainer h3 {
    margin: 1rem;
}

.miniTextContainer h2 {
    line-height: 1.1;
    margin: .5rem 1rem;
    color: rgba(142, 142, 142, 0.93);

}

.software {
    background-image: url("../images/course-software.jpg");
}

.compArt {
    background-image: url("../images/course-computer-art.jpg");
}

.design {
    background-image: url("../images/course-design.jpg");
}

.data {
    background-image: url("../images/course-data.jpg");
}

.business {
    background-image: url("../images/course-business.jpg");
}

.marketing {
    background-image: url("../images/course-marketing.jpg");
}

.miniContainerWrapMobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .miniContainerWrap {
        display: none;
    }

    .startLearning {
        background-color: white;
        width: 100%;
        padding: 2rem 0;
    }

    .miniContainerWrapMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 90%;

    }

    .miniContainerWrapMobile h3 {
        background-color: rgba(232, 232, 232, 0.80);
        width: 100%;
        padding: 1rem;
        margin: .5rem;
    }

    .title h1 {
        padding: 0;
    }

}

/*Thesis Exhibit*/

.thesisExhibit {
    text-align: center;
}

video {
    flex:0 1 100%;
    object-fit: contain;
    max-width: 100%;
    overflow: hidden;
}

.thesisBody {
    display: flex;
    flex-direction: row;
    border-bottom: rgba(201, 201, 201, 0.85) solid;
}

.thesisExhibit .bigContainer {
    padding-top: 0;
    margin-right: 1rem;
}

.practice {
    width: 100%;
}

.videoContainer{
    flex: 0 1 100%;
    width: 100%;
}

.thesisBody .smallContainer {
    border: none;
}

@media only screen and (max-width: 650px) {
    .thesisBody .mediumContainer {
        display: none;
    }

    .thesisBody .bigContainer {
        width: 100%;
    }

    .thesisBody {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}

/*Footer*/

